.mercadopago-button {
    padding: 0 1.7142857142857142em;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 0.875em;
    line-height: 2.7142857142857144;
    background: #009ee3;
    border-radius: 0.2857142857142857em;
    color: #fff;
    cursor: pointer;
    border: 0;
}

.mercadopago-button-create {
    padding: 0 1.7142857142857142em;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 0.875em;
    line-height: 2.7142857142857144;
    background: green;
    border-radius: 0.2857142857142857em;
    color: #fff;
    cursor: pointer;
    border: 0;
}

.mercadopago-button-cancel {
    padding: 0 1.7142857142857142em;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 0.875em;
    line-height: 2.7142857142857144;
    background: red;
    border-radius: 0.2857142857142857em;
    color: #fff;
    cursor: pointer;
    border: 0;
}