@keyframes loading-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loading-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 100, 200;
        stroke-dashoffset: -20px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes loading-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.mp-spinner {
    position: absolute;
    top: 100px;
    left: 50%;
    font-size: 70px;
    margin-left: -35px;
    animation: loading-rotate 2.5s linear infinite;
    transform-origin: center center;
    width: 1em;
    height: 1em;
}

.mp-spinner-path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: loading-dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
    stroke-width: 2px;
    stroke: #009ee3;
}

.mercadopago-button {
    padding: 0 1.7142857142857142em;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 0.875em;
    line-height: 2.7142857142857144;
    background: #009ee3;
    border-radius: 0.2857142857142857em;
    color: #fff;
    cursor: pointer;
    border: 0;
}

.mercadopago-button-create {
    padding: 0 1.7142857142857142em;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 0.875em;
    line-height: 2.7142857142857144;
    background: green;
    border-radius: 0.2857142857142857em;
    color: #fff;
    cursor: pointer;
    border: 0;
}

.mercadopago-button-cancel {
    padding: 0 1.7142857142857142em;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 0.875em;
    line-height: 2.7142857142857144;
    background: red;
    border-radius: 0.2857142857142857em;
    color: #fff;
    cursor: pointer;
    border: 0;
}